@font-face {
    font-family: 'Nato Sans';
    src: url(../fonts/NotoSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Nato Sans';
    src: url(../fonts/NotoSansJP-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'Nato Sans';
    src: url(../fonts/NotoSansJP-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: 'Nato Sans';
    src: url(../fonts/NotoSans-Regular.ttf);
    font-weight: 600;
}